<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>v-for</title>
    <script src="../vue.js"></script>
  </head>
  <body>
    <div id="root">
      <div>正常 DIV</div>
      <div v-for="(item, index) in list" :key="index">v-for item {{item}}</div>
    </div>
  </body>
</html>
<script>
  /**
   * 使用 v-for 原理：与 v-for 类似, 会遍历指定数据, 生成 Vnode, 会生成 Vnode 的过程中就已经处理了
   *
   * 例如: <div v-for="(item, index) in list" :key="index">v-for item {{item}}</div>
   * 在生成 Vnode 时, 会生成 [Vnode {tag: 'div'...}, Vnode, ...] Vnode 数组
   */
  new Vue({
    el: '#root',
    data() {
      return {
        flag: false,
        list: [1, 2, 3, 4],
      };
    },
    // render(h) {
    //   const { flag } = this;
    //   return h('div', [h('div', '正常 DIV'), flag && h('div', '使用 V-IF')]);
    // },
  });
</script>
