/** 自定义变量 */
:root {
  // 滚动条滑块颜色
  --w-scrollbar-color: #c8c9cc;

  // #region ------------ 导航栏高度 ------------
  --w-header-height: 70px;
  --w-header-color: #fff;
  // #endregion
}

/** 重写 element-ui 颜色 */
body {
  --el-color-primary: #de0522;
  --el-color-primary-light-1: #e11e38;
  --el-color-primary-light-2: #e4374e;
  --el-color-primary-light-3: #e75064;
  --el-color-primary-light-4: #eb697a;
  --el-color-primary-light-5: #ee8290;
  --el-color-primary-light-6: #f19ba6;
  --el-color-primary-light-7: #f5b4bc;
  --el-color-primary-light-8: #f8cdd2;
  --el-color-primary-light-9: #fbe6e8;
}
